/*General styling*/
body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.btnNav {
  color: white;
  text-decoration: underline;
}

p {
  font-size: 14px;
}

/*topSection styling*/
#topSection {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: center;
}

#topSection h1 {
  font-size: 70px;
  font-weight: bold;
}

#topSection p {
  font-size: 18px;
  font-weight: bold;
}

/*middleSection styling*/
#middleSection h2 {
  font-size: 32px;
  font-weight: bold;
}

#middleSection h3 {
  font-size: 23px;
  font-weight: bold;
}


/*bottomSection styling*/



/*footer styling*/
